APP_NAME=Agente RAG Cobertura Médica
APP_VERSION=1.0.0
DEBUG=True

OPENROUTER_API_KEY=

MODEL_NAME=google/gemini-2.5-flash

EMBEDDING_MODEL=BAAI/bge-m3

CHROMA_PATH=./chroma

DATA_PATH=./data

EXCEL_FILE=BD_afiliados.xlsx

LOG_LEVEL=INFO