# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Base vectorial
chroma/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/